.box {
  margin: 0 auto;
  width: 25%; 
  height: 53em;
  border-radius: 5px;
  display: flex;
}

.logo-name {
  margin: 0 auto;
  flex: 0 0 auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 100px;
}

h1 {
  font-size: 3rem;
}

@media screen and (min-width: 1025px) {
  .box {
    width: 30%;
  }
}

@media screen and (max-width:1024px) {
  .box {
    width: 55%;
  }

  h1 {
    font-size: 2rem;
  }
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .box {
    width: 75%;
  }

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .box {
    width: 95%;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .box {
    width: 100%;
    margin:-0.20em; 
  }

  h1 {
    font-size: 1.2rem;
  }
}

